﻿<%@ Page Title="" Language="C#" MasterPageFile="~/backoffice/MasterPage.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Newton.backoffice.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
